body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}
.h-1 {
  display: flex;
  font-size: 55px;
  justify-content: center;
}
.p-1 {
  font-size: 25px;  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 25px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-size: 20px;
  border-radius: 10px;
  margin: 45px;
  list-style: none;
}
.btn:hover {
  background-color: #17e91e;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}
.nav {
  margin-right: -8px;
  margin-left: -8px;
  margin-top: -8px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  background-color: gray;
  padding: 15px;
  align-items: center;
}
.column-1 {
  list-style: none;
}
.column-2 {
  list-style: none;
  margin-top: -35px;
}
.anchor {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.timer {
  margin-right: 25px;
  font-size: 20px;
}
.nav-btn {
  background-color: #aca5a5;
  padding: 12px;
  border-radius: 15px;
  border: none;
}
.nav-btn:hover {
  background-color: #236f26;
  color: white;
  transition: 0.3s;
  cursor: pointer;

}
.result-w{
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 25px;
  padding: 15px;
  border-radius: 30px;
}
.result-r{
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 25px;
  padding: 15px;
  border-radius: 30px;
}
.form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: self-end;
  font-size: 21px;
}
.form-input{
  display: flex;
  padding: 10px;
  padding-right: 80px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.form-btn{
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-top-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 10px;
}
.form-btn:hover{
  background-color: #17e91e;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}
.next-btn{
  margin-right: 5px;
  padding: 20px;
  padding-right: 70px;
  margin-top: 0px;
  background-color: purple;
}
.next-btn-text{
  margin-right: -50px;
}
.hidden {
  display: none;
}
